body{
    padding: 0px;
    background-image: url(graygrad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 50px ;
    margin-right: 50px;
    
  }


.top-bar {
    background-color: #6b6868;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 15px;
  }

.top-bar button {
    position:relative;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }

.top-bar button:hover {
    background-color: #555;
  }


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    outline: solid #6b6868;
    margin: 10px 10% 0px 10%;
    padding: 10px 5px 20px 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  }

  .footerBox {
    border: 2px solid #6b6868; 
    padding-bottom: 10px;
    width: 33%;
  }

  .footerTitles {
    border-bottom: solid #6b6868;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: large;
  }

  .footerText{
    margin: 10px 0px 10px 25px;
  }

  .icons {
    display: flex; 
    flex-direction: row;
    margin-left: 15px;
  }

  .icons img {
    height: 30px;
    width: 30px;
  }

.web{
    padding: 50px 10px 0px 10px;
  }

.MENI{
    margin:25px 80px 20px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

.MENI img{
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
  }

  

.HEAD p{
    margin-top: 50px;
    font-size: 180%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-decoration: underline;
  }

.subHEAD p{
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  }

.selected {
    border: 5px solid rgba(0, 0, 255, 0.5);
  }

.id p{
  color: aqua;
}

textarea{
  color: blue;
  margin: 0 0 0 25px;
  background-color: #ccdbe7;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: large;
  border-block-color: inherit;
  border-block-width: 2px;
  border-radius: 50px;
  text-align: center;
}

.timestamp {
  color: rgb(89, 89, 235)(0, 0, 255, 0.418);
  font-size: small;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.modal{
    
    padding: 1em;
    max-width: 50ch;
    background:linear-gradient( to right,#25caa1,#0a8572);
    & > *{
        margin: 0 0 0.5em 0;
    }
    border-radius: 10px;
    
}
.input-modal{
    margin: 10px;
    padding: 5px;
}
.modal .close-button{
    left: 12%;
}
.modal .registration-button{
    
    left: 20%;
}
.modal .registration-button a{
    /* position: relative; */
    text-decoration: NONE;
    color: white;
   
}
.modal .registration-button a:hover{
    color: pink;
   
}
.modal h2{
    text-align: center;
}
.no_such_pass{
    font-size: 15px;
    color: red;
    margin-left: 6%;
    opacity: 0.6;
}
.no_such_email{
    font-size: 15px;
    color: red;
    margin-left: 6%;
    opacity: 0.6;
}